@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

.home-login-signup-w-h {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-layout {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color:rgb(38, 38, 38);
}

input, select, textarea {
  width: 100%;
  padding: .5rem;
  border-radius: 6px;
}

/*ERROR STYLES FOR FORM*/

.error {
  border: 2px solid rgb(226, 50, 50);
}

/*login and signup form*/
.forms-styles {
  width: 400px;
}

/*POST CARD ANIMATION*/
.postcard {
  position: relative;
  border: 3px solid black;
  overflow:hidden;
  height: 200px;
  border-radius: .5rem;
  width: 24rem;
  transition: height .5s ease;
}

.postcard.expand {
  height: 300px;
}

/*CHEVRON ANIMATION*/
.chevron {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
  font-size: 4rem;
  color: white;
  z-index: 20;
  transition: transform 0.3s ease-in-out;
}

.chevron:hover {
  cursor: pointer;
}

.chevron.up {
  transform: rotate(180deg);
}


/*ADDPOST FORM ANIMATION*/

.addpost-form {
  position: absolute;
  bottom: 0;
  right: -30rem;
  margin-bottom: 1rem;
  margin-right:1rem;
  z-index: 30;
  transition: right .3s ease-in-out;
}

.addpost-form.show {
  right: 0;
}