@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-layout {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color:rgb(38, 38, 38);
}

input, select, textarea {
  width: 100%;
  padding: .5rem;
  border-radius: 6px;
}

/*ERROR STYLES FOR FORM*/

.error {
  border: 2px solid rgb(226, 50, 50);
}

/*login and signup form*/
.forms-styles {
  width: 400px;
}