@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  background-repeat: no-repeat;
}

.home-login-signup-w-h {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-layout {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color:rgb(38, 38, 38);
}

input, select, textarea {
  width: 100%;
  padding: .5rem;
  border-radius: 6px;
}

/*ERROR STYLES FOR FORM*/

.error {
  border: 2px solid rgb(226, 50, 50);
}

/*login and signup form*/
.forms-styles {
  width: 400px;
}

/*POST CARD ANIMATION*/
.postcard {
  color: #262626;
  background-color: white;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 22%;
  border-radius: .5rem;
  transition: width .5s ease;
}

.postcard.expand {
  width: 450px;
}

.image-filter{
  cursor: pointer;
  backdrop-filter: grayscale(100%);
  background-color: rgba(0, 0, 0, .5);
  transition: background-color .3s ease-in-out;
}

.card-text {
  opacity: 100%;
  transition: opacity .3s ease-in-out;
}

.postcard:hover .image-filter.remove-filter{
  backdrop-filter: grayscale(0%);
  background-color: transparent;
}

.postcard:hover .card-text.card-text-disappear{
  opacity: 0%;
}



/*CHEVRON ANIMATION*/
.chevron {
  padding: 2px;
  font-size: 2rem;
  color: white;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}

.chevron:hover {
  cursor: pointer;
}

.chevron.up {
  transform: rotate(180deg);
}


/*ADDPOST FORM ANIMATION*/

.addpost-form {
  position: fixed;
  display: none;
  bottom: 0rem;
  opacity: 0%;
  right:0;
  z-index: 30;
  transition: bottom .5s ease-in-out;
}

.addpost-form.show {
  bottom: 10rem;
  opacity: 100%;
  display: block;
}